manifest {
    name = 'pgs_pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
}

params {
    container = 'pgs-pipeline:latest'
    outdir = 'results'
    report_dir = 'pipeline_info'
    aws_queue = null
    aws_region = 'us-west-2'
    aws_work_dir = null
}

process {
    container = params.container
    errorStrategy = { task.exitStatus in [137, 143] ? 'retry' : 'terminate' }
    maxRetries = 2
    maxErrors = '-1'

    withLabel: small {
        cpus = 4
        memory = 16.GB
        time = 2.h
    }
    withLabel: large {
        cpus = 16
        memory = 64.GB
        time = 6.h
    }
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue = params.aws_queue
        workDir = params.aws_work_dir
        aws.region = params.aws_region
        aws.batch.cliPath = '/opt/conda/bin/aws'
    }

    singularity {
        singularity.enabled = true
    }
}

timeline {
    enabled = true
    file = "${params.report_dir}/timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.report_dir}/report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.report_dir}/trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.report_dir}/dag.html"
    overwrite = true
}
